* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline-item {
    margin-bottom: 30px;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h2 {
    margin-top: 0;
}

.timeline-content p {
    margin: 10px 0;
}

.date {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #888;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -25px;
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 50%;
    border: 3px solid #fff;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: 50px;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-right: 50px;
}

@media (max-width: 600px) {
    .timeline-item:nth-child(even) .timeline-content,
    .timeline-item:nth-child(odd) .timeline-content {
        margin: 0;
    }

    .timeline-item::before {
        left: 15px;
    }

    .timeline-content {
        padding: 15px;
    }
}

.containerHeader {
    width:100%;
    background-image: url('resources/images/header-background-image.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    border:1px solid black;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}
/* unison */
#unisonContainer {
    position: absolute;
    bottom:0px;
    width:100%;
    height:100px;
}